body {
    font-family: Monserra, sans-serif;
    text-align: center;
}
h1 {
    font-family: Oswald, sans-serif;
    font-size: 36px;
    text-align: center;
}
p {
    font-family: Monserra, sans-serif;
}